huggingface-hub==0.10.1
numpy==1.21.6
pandas==1.3.5
requests==2.23.0
requests-oauthlib==1.3.1
scikit-learn==1.0.2
sklearn-pandas==1.8.0
tensorflow==2.9.2
tensorflow-datasets==4.6.0
tensorflow-estimator==2.9.0
tensorflow-gcs-config==2.9.1
tensorflow-hub==0.12.0
tensorflow-io-gcs-filesystem==0.27.0
tensorflow-metadata==1.10.0
tensorflow-probability==0.16.0
tokenizers==0.13.1
torch @ https://download.pytorch.org/whl/cu113/torch-1.12.1%2Bcu113-cp37-cp37m-linux_x86_64.whl
transformers==4.24.0
